<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
    <a href="index.html" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <img
          class="rounded-circle"
          src="../../../assets/images/demoUser.jpg"
          alt=""
          style="width: 40px; height: 40px"
        />
        <div
          class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
        ></div>
      </div>
      <div class="ms-3">
        <h6 class="mb-0">{{ adminName }}</h6>
        <span>Admin</span>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a
        href="admin/dashboard"
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link"
      >
        <i class="fa fa-tachometer-alt me-2"></i>Dashboard
      </a>

      <a
        href="admin/dashboard/doctor"
        routerLink="/admin/dashboard/doctor"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link"
      >
        <i class="fa fa-briefcase me-2"></i>Doctors
      </a>

      <a
        href="admin/dashboard/nurse"
        routerLink="/admin/dashboard/nurse"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link"
      >
        <i class="fa fa-briefcase me-2"></i>Nurse
      </a>

      <a
        href="admin/dashboard/speciality"
        routerLink="/admin/dashboard/speciality"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item nav-link"
      >
        <i class="fa fa-briefcase me-2"></i>Specialities
      </a>

      <!-- <a href="#" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Appointments</a
      > -->
      <a href="#" class="nav-item nav-link"
        ><i class="fa fa-address-book me-2"></i>Pateints</a>
        <a href="/admin/health-condition" 
               routerLink="/admin/health-condition" 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }" 
               class="nav-item nav-link">
               <i class="fa fa-address-book me-2"></i>Health Condition
            </a>
            <a href="/admin/symptoms" 
               routerLink="/admin/symptoms" 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }" 
               class="nav-item nav-link">
               <i class="fa fa-address-book me-2"></i>Symptoms
            </a>
            <a href="/admin/do-dont" 
               routerLink="/admin/do-dont" 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }" 
               class="nav-item nav-link">
               <i class="fa fa-address-book me-2"></i>Do's-Don't
            </a>
            <a href="/admin/causes" 
               routerLink="/admin/causes" 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }" 
               class="nav-item nav-link">
               <i class="fa fa-address-book me-2"></i>Causes
            </a>
            <a href="/admin/medicine" 
               routerLink="/admin/medicine" 
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }" 
               class="nav-item nav-link">
               <i class="fa fa-address-book me-2"></i>Medicine
            </a>
      <a href="" class="nav-item nav-link"
        ><i class="fa fa-arrow-right me-2"></i>Log Out</a
      >
    </div>
  </nav>
</div>
