<div class="main-container">
  <div class="container">
    <div class="form-wrapper" id="formWrapper">
      <h2 id="formTitle">Forgot Password</h2>

      <form>
        <div class="form-field">
          <input
            type="email"
            id="email"
            name="email"
            required
          />
          <label>Email</label>
        </div>

        <button type="submit" id="submitBtn"> Send Reset Password Link </button>

        <!-- <p class="message">{{ message }}</p> -->
        <p class="switch-text"> <a href="/admin/login" id="toggleForm">Back To Login </a> </p>
      </form>
    </div>
  </div>
</div>
