<div class="container-xxl position-relative bg-white d-flex p-0">
  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div
      class="spinner-border text-primary"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->

  <!-- Sidebar Start -->
  <app-sidebar></app-sidebar>
  <!-- Sidebar End -->

  <!-- Content Start -->
  <div class="content">
    <!-- Navbar Start -->
    <app-navbar></app-navbar>
    <!-- Navbar End -->

    <!-- Content Start -->
    <div class="container-fluid pt-4 px-4">
      <div
        class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0"
      >
        <div class="bg-light rounded h-100 p-4">
          <div class="d-inline-block w-100 mb-3">
            <h6 class="d-inline">Specialities</h6>
            <button
              type="button"
              class="btn btn-outline-success float-end"
              data-bs-toggle="modal"
              data-bs-target="#addSpeciality"
            >
              Add Speciality
            </button>
          </div>

          <!-- ================= ADD SPECIALITY MODAL ================= -->
          <div
            class="modal fade"
            id="addSpeciality"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add Speciality</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>
                <div class="modal-body">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Dentist"
                    [(ngModel)]="newSpeciality"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onAdd()"
                    data-bs-dismiss="modal"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- ================= TABLE ================= -->
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Speciality</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of specialities; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ s.name }}</td>
                  <td>
                    <button
                      class="btn btn-outline-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#editSpecialityID"
                      (click)="onEdit(s)"
                    >
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button
                      class="btn btn-outline-danger ms-2"
                      (click)="onDelete(s.id!)"
                    >
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- ================= EDIT SPECIALITY MODAL ================= -->
          <div
            class="modal fade"
            id="editSpecialityID"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Speciality</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>
                <div class="modal-body">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="editSpecialityValue"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onUpdate()"
                    data-bs-dismiss="modal"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content End -->

    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
  </div>
  <!-- Content End -->

  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
    ><i class="bi bi-arrow-up"></i
  ></a>
</div>
