<div class="container-xxl position-relative bg-white d-flex p-0">
  <app-sidebar></app-sidebar>
  <div class="content">
    <app-navbar></app-navbar>

    <div class="container-fluid pt-4 px-4">
      <div
        class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0"
      >
        <div class="bg-light rounded h-100 p-4">
          <h6 class="mb-4 d-inline">Add Nurse</h6>
          <form (ngSubmit)="addNurse()">
            <div class="row mt-2">
              <div class="col-6 mb-3">
                <label class="form-label">Full Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="nurse.name"
                  name="name"
                />
              </div>
              <div class="col-6 mb-3">
                <label class="form-label">Speciality</label>
                <select
                  class="form-select"
                  name="specialityId"
                  [(ngModel)]="nurse.specialityId"
                >
                  <option selected disabled value="">Select Speciality</option>
                  <option *ngFor="let s of specialities" [value]="s.id">
                    {{ s.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="johndoe@gmail.com"
                  [(ngModel)]="nurse.email"
                  name="email"
                />
              </div>
              <div class="col-6">
                <label class="form-label">Contact Number</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="1234432112"
                  [(ngModel)]="nurse.contactNo"
                  name="contactNo"
                />
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Qualification</label>
              <textarea
                class="form-control"
                placeholder="B.D.M.S"
                [(ngModel)]="nurse.qualification"
                name="qualification"
              ></textarea>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label">Shift Start Time</label>
                <input
                  type="time"
                  class="form-control"
                  [(ngModel)]="nurse.shiftStart"
                  name="shiftStart"
                />
              </div>
              <div class="col-6">
                <label class="form-label">Shift End Time</label>
                <input
                  type="time"
                  class="form-control"
                  [(ngModel)]="nurse.shiftEnd"
                  name="shiftEnd"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label">Experience in years</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="nurse.expOfYears"
                  name="expOfYears"
                />
              </div>
              <div class="col-6">
                <label class="form-label">Work Status</label>
                <select
                  class="form-select"
                  [(ngModel)]="nurse.workStatus"
                  name="workStatus"
                >
                  <option value="FULLTIME">Full Time</option>
                  <option value="PARTTIME">Part Time</option>
                  <option value="PERMANENT">Permanent</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label">Gender</label>
                <select
                  class="form-select"
                  [(ngModel)]="nurse.gender"
                  name="gender"
                >
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="O">Other</option>
                </select>
              </div>
              <div class="col-6">
                <label class="form-label">Date of Birth</label>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="nurse.dob"
                  name="dob"
                />
              </div>
            </div>

            <div class="float-end mt-3">
              <button type="submit" class="btn btn-success">Add Nurse</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>
  </div>

  <div
    class="position-fixed top-0 end-0 p-3"
    style="z-index: 1055"
    *ngIf="showToast"
  >
    <div
      class="toast show align-items-center text-bg-success custom-toast-success border-0"
    >
      <div class="d-flex">
        <div class="toast-body">{{ toastMessage }}</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          (click)="hideToast()"
        ></button>
      </div>
    </div>
  </div>
</div>
