<div class="main-container">
  <div class="container">
    <div class="form-wrapper" id="formWrapper">
      <h2 id="formTitle">Login</h2>

      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <div class="form-field">
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
          />
          <label>Email</label>
        </div>

        <div class="form-field">
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
          />
          <label>Password</label>
        </div>

        <button type="submit" id="submitBtn">Login</button>

        <div class="popup" *ngIf="showPopup">
          <div class="popup-content">
            <p>{{ message }}</p>
            <button (click)="closePopup()">OK</button>
          </div>
        </div>
        <p class="switch-text"> <a href="/admin/forgot-password" id="toggleForm">Forgot Password? </a> </p>
      </form>
    </div>
  </div>
</div>

<!-- Success Toast -->
<div class="custom-toast-container" *ngIf="showToast">
  <div class="custom-toast">
    <span>{{ toastMessage }}</span>
  </div>
</div>
